<div id="header-wrap">
  	<div id="header-sec">

	    <div id="header-fir">

        <div id="img-fir"><%= link_to image_tag("header/chengdeyixueyuan.gif"), home_index_path, {:width => 254, :height => 79} %></div>

        <div id="img-sec"><%= image_tag "header/chengdeyixueyuanlogo.jpg", {:width => 117, :height => 75 } %></div>

      </div>
      <div id="img-thr"><%= image_tag "header/yanjin.gif", {:width => 282, :height => 79} %></div>
    </div>
</div>
