<div id="home-nav">
  <div id="home-nav-top"></div>
  <div id="home-nav-cont">
    <%= link_to '首页', root_path %>
    <%= location(yield(:location)) %>
  </div>
  <div id="home-nav-bottom"></div>
</div>
