<b><font size="4" color: #555>你好，<%= @user_name %>,谢谢对承德医学院社区的支持</font></b><br />
<span>请点击以下链接对你的密码进行修改：</span><br />
<span style="margin-top: 15px;margin-bottom: 15px;">
<%= users_forget_password_change_url(:user_name => @user_name,
                                     :user_qq => @user_qq,
																		 :user_hash => @user_hash) %>
</span><br />
<span>(此链接15天内有效，超时需要重新获取验证邮件)</span><br />
<span>如果该链接无法点击，请将其复制粘贴到你的浏览器地址栏中访问。</span><br />
<span>这是服务器的邮箱，请不要回复，因为回复了服务器也不会收到</span>
