<div class="sidebar-post">
	  <div class="sidebar-top"></div>
	      <div class="sidebar-cent">
            <%= link_to "发帖", new_topic_path(@node) %>
				</div>
	  <div class="sidebar-bottom"></div>
</div>
