<div class="sidebar-post">
	  <div class="sidebar-top"></div>
	      <div class="sidebar-cent">
				    <div class="link-post">
                <span><%= link_to "发帖", new_topic_path %></span>
            </div>
				</div>
	  <div class="sidebar-bottom"></div>
</div>
