<div class="sidebar-top"></div>
    <div class="sidebar-cent">
        <div class="mess-frame">
	          <span>信息</span>
        </div>
        <div class="form-line"></div>

        <div class="user-info">
            <div id="user-face">
						    <%= link_to image_tag(current_user.photo_url(:thumb)), edit_user_path(@user)%>
						</div>
            <div id="user-mess">
		            <span><%= @user.nickname %></span><br />
		        </div>
		        <div id="sub-sign-out">
						    <%= link_to "个人信息", user_path(session[:user_id]), :class => "user-info-link" %>
		            <%= link_to "退出", home_signout_path, :class => "sign-out-link" %>
		        </div>
        </div>
    </div>
<div class="sidebar-bottom"></div>
