<div class="sidebar-top"></div>
    <div class="sidebar-cent">
        <div class="mess-frame">
	          <span>信息</span>
        </div>
        <div class="form-line"></div>

        <div class="user-info">
            <div id="user-face"></div>
                <div id="user-mess">
		                <span><%= @user.nickname %></span><br />
		                <span>你有N条消息</span><br />
				            <span>进入我的社区<%= link_to "#{@user.node.name}", node_school_path(@user.node_id, :node_name => @user.node.name) %></span>
		            </div>
		        <div id="sub-sign-out">
		            <%= link_to "退出", home_signout_path %>
		        </div>
        </div>
    </div>
<div class="sidebar-bottom"></div>
