<div class="article">
    <div class="left-content-top"></div>
        <div class="left-content-cent">
		        <div class="text-title">
				        <div class="user-photo"><%= image_tag(@topic[0].user.photo_url(:thumb)) %></div>
						    <div class="title"><%= truncate(@topic[0].title, :length => 100) %></div>
	    		    	</div>
		        <div class="line"></div>
		        <div class="text-text">
				        <%= @topic[0].text %>
	    	    </div>
        </div>
    <div class="left-content-bottom"></div>
</div>
