<div class="flash-mess">
	  <div class="left-content-top"></div>
	      <div class="left-content-cent flash">
				  <span>你还没有登录,不能给他评论</span>
				</div>
	  <div class="left-content-bottom"></div>
</div>
