<div class="reply-content">
    <div class="left-content-top"></div>
        <div class="left-content-cent">
		      
					  <div class="reply">
				        <% if !@reply.blank? %>
				          <% @reply.each do |reply| %>
									<% cache "topic#{@topic[0].id}-reply#{reply.id}" do %>
								      <div class="reply-list">
									        <div class="reply-photo"><%= link_to(image_tag(reply.user.photo_url(:small)),
										                                             user_path(reply.user.id)) %></div>
											    <div class="text-content">
									            <div class="name" >
									               <%= link_to(reply.user.username, user_path(reply.user.id)) %>
									            </div>
									            <div class="reply-text"><%= reply.text %></div>
								    			</div>
								      </div>
									    <div class="line"></div>
	    						<% end %>
	    						<% end %>
		    				<% end %>
			    	</div>

		    </div>
    <div class="left-content-bottom"></div>
</div>
