<div id="home-nav">
    <div id="home-nav-top"></div>
        <div id="home-nav-cont">
				    <%= link_to "首页", home_index_path %>
        </div>
    <div id="home-nav-bottom"></div>
</div>
<div class="wrap-left">
    	<div class="left-content">
  	  	<div class="left-content-top"></div>
  	    	<div class="left-content-cent">
              <%= render 'form' %>
          </div>
    		<div class="left-content-bottom"></div>
  	  </div>
</div>
