<h1>New user</h1>
    <div id="wrap-left">
    	<div id="left-content">
  	  	<div id="left-content-top"></div>
  	  	<div id="left-content-cent">
            <%= render 'form' %>
        </div>
  		<div id="left-content-bottom"></div>
 	  </div>
</div>

<%= link_to 'Back', users_path %>
