<% provide(:location, '注册新用户') %>
<div class="wrap-left">
    	<div class="left-content">
  	  	<div class="left-content-top"></div>
  	    	<div class="left-content-cent">
              <%= render 'form' %>
          </div>
    		<div class="left-content-bottom"></div>
  	  </div>
</div>
