<div id="home-nav">
    <div id="home-nav-top"></div>
        <div id="home-nav-cont">
				    <%= link_to "首页", home_index_path %>
						<span class="dividr">></span>
						<span>关于本站</span>
        </div>
    <div id="home-nav-bottom"></div>
</div>
<div class="about-content">
    <div class="about-site-top"></div>
        <div class="about-site-cont">
				    <p>本网站由一名爱好者编写</p><br />
						<p>网站的基本功能已经完成，新的功能正在开发中</p><br />
						<p>如果你热爱计算机，如果你有计算机基础，请发邮件给我：tiseheaini@126.com</p><br />
						<p>参与社区开发需要以下知识</p><br />
						<p>HTML CSS Javascript</p><br />
						<p>ruby on rails MySQL</p><br />
						<p>linux nginx vim</p><br />
        </div>
    <div class="about-site-bottom"></div>
</div>
