<% provide(:location, '关于本站') %>
<div class="about-content">
    <div class="about-site-top"></div>
        <div class="about-site-cont">
						<h3>关于本站</h3><br />
				    <p>本网站由一名爱好者编写</p><br />
						<p>因为种种原因，发现承德医学院的官网上居然没有社区的链接，凭什么学校网站的管理者<br />
						   不给学生写一个社区供学生使用，当时很是愤慨，作者觉得这个可以有，便写了一个简单的社区供学生使用<br />
						   网站的基本功能已经完成，新的功能正在开发中<br />
						   如果你热爱计算机，如果你有计算机基础，请发邮件给我：tiseheaini@126.com</p><br />
						<p>参与社区开发需要以下知识</p><br />
						<div style="padding-left: 16px;line-height: 25px;padding-bottom: 15px;" >
						    <span>HTML CSS Javascript</span><br />
						    <span>ruby on rails MySQL</span><br />
						    <span>linux nginx vim</span><br />
						</div>
        </div>
    <div class="about-site-bottom"></div>
</div>
