<% provide(:location, '联系我') %>
<div class="about-content">
    <div class="about-site-top"></div>
        <div class="about-site-cont">
				    <h3>联系方式</h3><br />
						<p>由于 linux 系统的问题，上QQ很麻烦，故作者使用 Email：tiseheaini@126.com</p><br />
        </div>
    <div class="about-site-bottom"></div>
</div>
