<div class="wrap-left">
    <div class="left-content">
        <div class="left-content-top"></div>
        
        <div class="left-content-cent">
            <div class="feed-list">
	              <div class="list-single">
                        <div class="list-face">aaaaa</div>
                        <div class="list-content">bbbbb</div>
                </div>
					  </div>
        </div>
            
        <div class="left-content-bottom"></div>
    </div>
</div>

<div class="wrap-right">
    <div class="right-sidebar">
            
        <div class="sidebar-login">
           	<div class="login-top"></div>
           	    <div class="login-cent">
                      aaaaa
                      bbbbb
                </div>
          	<div class="login-bottom"></div>
        </div>
          
    </div>  
</div>
