<div id="wrap-left">
    <div id="left-content">
        <div id="left-content-top"></div>
        
        <div id="left-content-cent">
            <div class="feed-list">
                    <div class="list-single">
                    <div class="list-face">aaaaa</div>
                    <div class="list-content">bbbbb</div>
            </div>

        </div>    
        </div>
            
            <div id="left-content-bottom"></div>
        </div>
    </div>

<div id="wrap-right">
    <div id="right-sidebar">
            
        <div class="sidebar-login">
           	<div class="login-top"></div>

           	<div class="login-cent">

                  aaaaa
                  bbbbb

            </div>

          	<div class="login-bottom"></div>
        </div>
          
    </div>  
</div>
