/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 */
body {
  background-image:url(5752.png);
	color: #333;
}
#main {
}
#header{
  background-color:#D0E7F1;
  height: 102px;
  margin:0 auto;
}
#content{
  margin:0 auto;
  background-image:url(5106.png);
  background-repeat:repeat-x;
}
#footer{
  width: 1005px;
  height: 83px;
  margin:0 auto;
}

/* home#index */
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
margin: 0;
padding: 0;
}
.c-wrap {
  width: 1005px;
  overflow:hidden;
  margin:0 auto;
}

/* home-header */
#header-wrap {
  width: 1005px;
  height: 75px;
  margin:0 auto;
}
#header-fir {
  float: left;
  width: 560px;
  height: 75px;
}
#img-fir {
  float: left;
}
#img-sec {
  float: right;
}
#header-sec {
  width: 985px;
  background-image:url(header/chengdeyixueyuanbackground.gif);
  background-repeat:no-repeat;
  background-position:254px 0px;
  height: 75px;
}
#img-thr {
  float: right;
}

/* div#footer */
#footer-wrap {
  width: 1005px;
	margin-top: 16px;
	margin-left: 24px;
}
