/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  background-image:url(5752.png);
}
#main {
}
#header{
  background-color:#D0E7F1;
  height: 102px;
  margin:0 auto;
}
#content{
  margin:0 auto;
  background-image:url(5106.png);
  background-repeat:repeat-x;
}
#footer{
  background-color: yellow;
  width: 1005px;
  height: 83px;
  margin:0 auto;
}
.mess-frame {
  width: 280px;
	height: 20px;
	padding-left: 15px;
	margin-bottom: 6px;
}
.form-line {
  width: 100%;
	border-top:1px solid #E1E1E1;
	margin-top: 6px;
	margin-bottom: 12px;
}
#login,#password {
  width: 213px;
	height: 25px;
	margin-left: 0px;
	margin-bottom: 8px;
}
.form-submit {
  width: 59px;
	height: 28px;
	margin-left: 6px;
	margin-top: 2px;
}
.form-label {
  margin-left: 15px;
}
.form-sign {
  margin-left: 167px;
}
