/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  background-image:url(5752.png);
}
#main {
}
#header{
  background-color:#D0E7F1;
  height: 102px;
  margin:0 auto;
}
#content{
  margin:0 auto;
  background-image:url(5106.png);
  background-repeat:repeat-x;
}
#footer{
  width: 1005px;
  height: 83px;
  margin:0 auto;
}
/** about_site **/
.about-content {
  width: 100%;
	margin-left: 20px;
	margin-top: 11px;
}
.about-site-top{
  width: 100%;
  height: 10px;
  background-image:url(homenavbackground.gif);
  background-repeat:no-repeat;
}
.about-site-cont{
  width: 100%;
  background-image:url(homenavbackground.gif);
  background-repeat:repeat-y;
	background-position:-2000px 0px;
	padding-left: 20px;
}
.about-site-cont a {
	text-decoration: none;
	display:inline-block;
  cursor: auto;
}
.about-site-bottom{
  width: 100%;
  height: 10px;
  background-image:url(homenavbackground.gif);
  background-repeat:no-repeat;
  background-position:-1000px bottom;
}
