/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.form-login-style {
  margin-top: 69px;
	margin-bottom: 55px;
}
.flash-mess {
  margin-left: 37px;
	color: red;
}
.form-sign {
  margin-left: 167px;
}
