/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.mess-frame {
  width: 280px;
	height: 20px;
	padding-left: 29px;
	margin-bottom: 6px;
}
.form-line {
  width: 100%;
	border-top:1px solid #E1E1E1;
	margin-top: 6px;
	margin-bottom: 12px;
}
.form-login-style {
  margin-top: 69px;
	margin-bottom: 55px;
}
.flash-mess {
  margin-left: 77px;
}
#login,#password {
  width: 213px;
	height: 25px;
	margin-left: 0px;
	margin-bottom: 31px;
}
.form-submit {
  width: 59px;
	height: 28px;
	margin-left: 6px;
	margin-top: 2px;
}
.form-label {
  margin-left: 76px;
}
.form-sign {
  margin-left: 244px;
}
