/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.send-mess-cont {
  min-height: 10px;
	padding-left: 30px;
}
.mail-label {
  padding-left: 31px;
}
#mail_text {
  width: 500px;
	height: 158px;
	margin-left: 33px;
	margin-top: 13px;
}
.mail_submit {
  width: 60px;
	height: 30px;
	margin-left: 475px;
	margin-top: 11px;
	margin-bottom: 10px;
}
.mail-content {
  min-height: 48px;
}
.mail-list-face {
  float:left;
}
.mails-list {
  overflow:hidden;
}
.list-single {
  padding-left: 18px;
}
.mail-text {
  padding-top: 3px;
}
.mail-text-title {
  font-size: 13px;
}
.mail-line {
  width: 100%;
	margin-left: 0px;
}
