/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.send-mess-cont {
  min-height: 10px;
	padding-left: 30px;
}
.mail-label {
  padding-left: 31px;
}
#mail_text {
  width: 500px;
	height: 158px;
	margin-left: 33px;
	margin-top: 13px;
}
.mail_submit {
  width: 60px;
	height: 30px;
	margin-left: 475px;
	margin-top: 11px;
	margin-bottom: 10px;
}
