/* div#home-nav */
#home-nav {
  width: 937px;
  height: 39px;
  margin-left: 20px;
  margin-top: 27px;
}
.dividr {
  margin-left: 5px;
	margin-right: 5px;
}
#home-nav-top{
  width: 100%;
  height: 10px;
  background-image:url(homenavbackground.gif);
  background-repeat:no-repeat;
}
#home-nav-cont{
  width: 100%;
  background-image:url(homenavbackground.gif);
  background-repeat:repeat-y;
	background-position:-2000px 0px;
	padding-left: 20px;
}
#home-nav-cont a {
	text-decoration: none;
	display:inline-block;
  cursor: auto;
}
#home-nav-bottom{
  width: 100%;
  height: 10px;
  background-image:url(homenavbackground.gif);
  background-repeat:no-repeat;
  background-position:-1000px bottom;
}

/* div.wrap-left */
.wrap-left{
  float: left;
  width: 640px;
}
.left-content{
  width: 620px;
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.left-content-top {
  width: 620px;
  height: 15px;
  background-image:url(leftcontentbackground.png);
  background-repeat:no-repeat;
}
.left-content-cent {
  width: 620px;
	min-height: 200px;
  overflow:hidden;
  background-image:url(leftcontentbackground.png);
  background-repeat:repeat-y;
  background-position: -1400px 0px;
}
.left-content-bottom {
  width: 620px;
  height: 15px;
  background-image:url(leftcontentbackground.png);
  background-repeat:no-repeat;
  background-position: -700px bottom;
}
.feed-list {
  width: 620px;
}
.list-single {
  width: 620px;
	margin-bottom: 7px;
}
.list-face {
  width: 64px;
  height: 64px;
  position:relative;
  top: 16px;
  left: 21px;
  z-index: 1;
}
.mail-sub {
	width: 53px;
	height: 19px;
	color:whiteSmoke;
	text-decoration:none;
  display:inline-block;
	margin-left: 4px;
	margin-top: 2px;
	text-align:center;
	padding-top: 1px;
	background-image:url(button.png);
	background-repeat:no-repeat;
	background-position:0px -120px;
}
img,a {
  border: 0px;
}
.list-content {
  width: 490px;
  height: auto;
  position:relative;
  top: -43px;
  left: 94px;
}
.line {
  width: 547px;
  border-top:1px solid #E1E1E1;
	margin-left: 30px;
	margin-bottom: 6px;
}
.message-sub {
  position:relative; 
	top: 5px;
	left: 7px;
}

.wrap-right{
  float: right;
  width: 355px;
  height: 415px;
}
.right-sidebar{
  width: 280px;
  height: 450px;
  margin-top: 40px;
  margin-left: 28px;
}

/**will-paginate**/ 
.pagination {
  text-align:center;
}
.left-content-cent .pagination a,.pagination em {
  display:inline-block;
  padding: 10px;
}
.left-content-cent .pagination a:link,a:visited {
  color: #006BB8;
  text-decoration: none;
}

/* sidebar */
.sidebar-login {
  width: 100%;
}
.sidebar-top {
  width: 280px;
  height: 15px;
  background-image:url(rightsidebarbackground.png);
  background-repeat:no-repeat;
}
.sidebar-cent {
  width: 280px;
  background-image:url(rightsidebarbackground.png);
  background-repeat:repeat-y;
  background-position: -600px 0px;
}
.sidebar-bottom {
  width: 280px;
  height: 15px;
  background-image:url(rightsidebarbackground.png);
  background-repeat:no-repeat;
  background-position: -300px bottom;
}


/* _form_login.html.erb */
.mess-frame {
  width: 280px;
	height: 20px;
	padding-left: 15px;
	margin-bottom: 6px;
}
.form-line {
  width: 100%;
	border-top:1px solid #E1E1E1;
	margin-top: 6px;
	margin-bottom: 12px;
}
#login,#password {
  width: 205px;
	height: 25px;
	margin-left: 0px;
	margin-bottom: 8px;
}
.form-submit {
  width: 59px;
	height: 28px;
	margin-left: 6px;
	margin-top: 2px;
	background-image:url(button.png);
	background-repeat:no-repeat;
	background-position:0 0;
	border: 0px;
}
.form-label {
  width: 58px;
	height: 15px;
	padding-top: 7px;
	float:left;
	text-align:right;
}
.form-forget-password {
	float:left;
  padding-top: 7px;
  margin-left: 97px;
}
.form-sign {
  float:left;
	margin-left: 8px;
	padding-top: 7px;
}

/* _user_info.html.erb */
.user-info {
  overflow:hidden;
}
#user-face {
  width: 64px;
	height: 64px;
	margin-left: 13px;
	float: left;
}
#user-mess {
  width: 187px;
	height: 64px;
	float:right;
	margin-right: 5px;
}
#sub-sign-out {
  width: 100%;
	height: 30px;
	margin-top: 10px;
	float:right;
}
#sign-out-link a {
  margin-left: 235px;
}
.user-info-link {
  margin-left: 156px;
}

/* sidebar-node */
.link-post { 
 padding-left: 119px;
 height: 20px;
 }
			
.right-sidebar a {
  height: 28px;
	text-decoration: none;
	display:inline-block;
  cursor: auto;
}
.right-sidebar a:link,a:visited {             
  color: #006BB8;                
  text-decoration: none;       
}   
.node-nav {
	padding-top: 5px;
  padding-left: 21px;
	padding-right: 21px;
}
