/* sidebar */
.sidebar-login {
  width: 100%;
}
.sidebar-top {
  width: 280px;
  height: 15px;
  background-image:url(rightsidebarbackground.png);
  background-repeat:no-repeat;
}
.sidebar-cent {
  width: 280px;
  background-image:url(rightsidebarbackground.png);
  background-repeat:repeat-y;
  background-position: -600px 0px;
}
.sidebar-bottom {
  width: 280px;
  height: 15px;
  background-image:url(rightsidebarbackground.png);
  background-repeat:no-repeat;
  background-position: -300px bottom;
}


/* _form_login.html.erb */
.mess-frame {
  width: 280px;
	height: 20px;
	padding-left: 15px;
	margin-bottom: 6px;
}
.form-line {
  width: 100%;
	border-top:1px solid #E1E1E1;
	margin-top: 6px;
	margin-bottom: 12px;
}
#login,#password {
  width: 213px;
	height: 25px;
	margin-left: 0px;
	margin-bottom: 8px;
}
.form-submit {
  width: 59px;
	height: 28px;
	margin-left: 6px;
	margin-top: 2px;
}
.form-label {
  margin-left: 15px;
}
.form-sign {
  margin-left: 167px;
}

/* _user_info.html.erb */
.user-info {
  overflow:hidden;
}
#user-face {
  width: 64px;
	height: 64px;
	margin-left: 13px;
	float: left;
	background-color: black;
}
#user-mess {
  width: 187px;
	height: 64px;
	float:right;
	margin-right: 5px;
}
#sub-sign-out {
  width: 100%;
	height: 30px;
	margin-top: 10px;
	float:right;
}
#sub-sign-out a {
  margin-left: 235px;
}

/* sidebar-node */
.sidebar-node a {
  height: 28px;
	text-decoration: none;
	display:inline-block;
}
.node-nav {
	padding-top: 5px;
  padding-left: 21px;
	padding-right: 21px;
}
