/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.link-post {
  padding-left: 119px;
	height: 20px;
}
.user-name {
  display:inline-block;
}
.user-node {
  display:inline-block;
	padding-left: 2px;
}
.topic-text {
  margin-top: 3px;
	margin-left: 2px;
}
