/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#new_topic .field label {
	margin-left: 30px;
  font-size: 18px;
}
#topic_title {
  width: 489px;
	height: 26px;
	margin-top: 5px;
	margin-left: 33px;
}
#topic_text {
  width: 489px;
	margin-left: 33px;
	margin-top: 13px;
}

#submit-cont {
  width: 163px;
	height: 30px;
	margin-left: 373px;
	margin-top: 11px;
	margin-bottom: 10px;
}
#new_topic #submit-cont input {
  width: 90px;
	height: 30px;
	float: left;
}
.link-h {
  width: 43px;
  height: 23px;
	float: right;
	padding-top: 7px;
	padding-left: 17px;
}
.link-h a {
  width: 43px;
  height: 23px;
  float: right;
  cursor: auto;
  background-color: #778087;   
  padding-top: 7px;            
  padding-left: 17px;          
}   
a:link,a:visited {             
  color: black;                
  text-decoration: none;       
}   
/* topics  show */
.left-content-top {
  margin-top: 10px;
}
.text-title {
  height: 64px;
	padding-left: 20px;
	padding-top: 3px;
}
.user-photo {
  width: 64px;
	height: 64px;
	float:left;
}
.title {
  font-size: 22px;
  margin-left: 72px;
	margin-top: 5px;
}
.line {
	width: 100%;
  margin: 6px 0px;
}
.text-text {
  padding-left: 21px;
	padding-top: 6px;
	padding-right: 15px;
}
