/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
/**index action**/
.user-name {
  display:inline-block;
}
.user-node {
  display:inline-block;
	padding-left: 2px;
}
.topic-text {
  margin-top: 3px;
	margin-left: 2px;
	font-size: 14px;
}
/** new action ***/
#new_topic .field label {
	margin-left: 30px;
  font-size: 18px;
}
#topic_title {
  width: 489px;
	height: 26px;
	margin-top: 5px;
	margin-left: 33px;
}
.flash {
   min-height: 19px;
	 padding-left: 21px;
	 color: red;
}
#topic_text {
  width: 489px;
	margin-left: 33px;
	margin-top: 13px;
}

#submit-cont {
  width: 163px;
	height: 30px;
	margin-left: 373px;
	margin-top: 11px;
	margin-bottom: 10px;
}
#new_topic #submit-cont input {
  width: 90px;
	height: 30px;
	float: left;
}
.link-h {
  width: 43px;
  height: 23px;
	float: right;
}
.link-h a {
  width: 43px;
  height: 23px;
  float: right;
  cursor: auto;
  background-color: #778087;   
  padding-top: 7px;            
  padding-left: 17px;          
}   
/* topics  show */
/* topics  show */
/* topics  show */
/* topics  show */
.left-content-top {
  margin-top: 10px;
}
.article {
  margin-bottom: 26px;
}
.text-title {
  height: 64px;
	padding-left: 20px;
	padding-top: 3px;
}
.user-photo {
  width: 64px;
	height: 64px;
	float:left;
}
.title {
  font-size: 22px;
  margin-left: 72px;
	margin-top: 5px;
}
.line {
	width: 100%;
  margin: 6px 0px;
}
.text-text {
  padding-left: 21px;
	padding-top: 6px;
	padding-right: 15px;
}
.reply-list {
	width: 100%;
  overflow:hidden;
	margin-left: 20px;
	padding-top: 7px;
}
.reply-photo {
  width: 64px;
	height: 64px;
	float:left;
}
.name {
  font-size: 18px;
}
.reply-text {
  width: 504px;
	padding-top: 5px;
}
.text-content {
  width: 100%;
	margin-left: 74px;
}
#reply_text {
  width: 501px;
	height: 158px;
	margin-left: 18px;
	margin-top: 16px;
}
.reply-submit {
  width: 72px;
	height: 30px;
	margin-top: 31px;
	margin-right: 12px;
	float:right;
}
.reply-mess {
  padding-left: 16px;
}
#new_reply {
  margin-bottom: 12px;
}
.topics-user-head .topics-user-title {
  text-align:left;
	padding-left: 30px;
}
.topics-user-table td {
  border-top:1px solid #DDD;
	background-color:#F9F9F9;
}
.topics-user-title {
  width: 481px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.topics-user-replies {
  width: 40px;
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.topics-user-delete {
  width: 40px;
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
}
