/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#new_topic .field label {
	margin-left: 30px;
  font-size: 18px;
}
#topic_title {
  width: 489px;
	height: 26px;
	margin-top: 5px;
	margin-left: 33px;
}
#topic_text {
  width: 489px;
	margin-left: 33px;
	margin-top: 5px;
}

#submit-cont {
  width: 178px;
	height: 30px;
	margin-left: 346px;
}
#new_topic #submit-cont input {
  width: 90px;
	height: 30px;
	float: left;
}
.link-h {
  width: 43px;
  height: 23px;
	float: right;
	padding-top: 7px;
	padding-left: 17px;
	background-color: black;
}
