/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#c-wrap {
  width: 1005px;
  overflow:hidden;
  margin:0 auto;
}
.mess-frame {
  width: 100%;
	height: 20px;
	padding-left: 39px;
	margin-bottom: 6px;
}
.form-line {
  width: 100%;
	border-top:1px solid #E1E1E1;
	margin-top: 6px;
	margin-bottom: 29px;
}
form {
  margin-bottom: 27px;
}
.error-mess-box {
  width: 100%;
	padding-left: 15px;
}
.error-list {
  
}
.field {
  margin-bottom: 20px;
}
.user-label {
  width: 102px;
	height: 15px;
	float:left;
	text-align:right;
	padding-top: 7px;
}
.user-input {
  height: 25px;
	margin-left: 3px;
}
.user-radio {
  width: 244px;
	height: 16px;
	margin-left: 110px;
	padding-top: 7px;
}
.user-submit {
  width: 59px;
	height: 28px;
	margin-left: 298px;
	background-image:url(button.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	border: 0px;
}
/** forget_password **/

.left-content-cent {
  padding-top: 9px;
	padding-left: 20px;
}
.flash {
  margin-top: 9px;
	margin-bottom: 9px;
	display: block;
  color: red;
}
.forget-label {
  float:left;
  width: 52px;
	padding-top: 3px;
	text-align: right;
}
.forget-input {
  height: 21px;
}
.forget-submit {
  width: 60px;
	height: 30px;
	margin-left: 246px;
	background-image:url(button.png);
	background-repeat:no-repeat;
	background-position:0 -60px;
	border: 0px;
}
.forget-title {
  padding-top: 18px;
}
.forget-to-change {
  
}
.new_change label {
  width: 90px;
	display: block;
	float:left;
	margin-top: 17px;
}
#change_password,#change_password_confirmation {
  height: 21px;
	margin-top: 17px;
}
.new_change_submit {
	width: 60px;
  height: 30px;
	margin-left: 282px;
	margin-top: 17px;
}
/** show action **/
.show-title {
  overflow:hidden;
}
.show-face {
  float:left;
}
.show-name,.show-state {
  margin-left: 77px;
}
.show-about {
  margin-top: 16px;
	margin-left: 5px;
}
.about-content {
  margin-top: 5px;
}
.show-topics-cent {
  padding-top: 0px;
}
.show-node {
  color:#444;
	margin-right: 7px;
}
.show-topics-title {
  padding-left: 4px;
}
.show-topics-manage {
  margin-left: 394px;
}
.show-topics-line {
  width: auto;
	margin-left: -18px;
	margin-top: 3px;
	margin-bottom: 5px;
}
ul a:link,a:visited {
  color:#0069D6;
  text-decoration: none;       
}
ul {
  list-style: none;
}
li {
  padding: 4px;
}
