/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#c-wrap {
  width: 1005px;
  overflow:hidden;
  margin:0 auto;
}
.mess-frame {
  width: 100%;
	height: 20px;
	padding-left: 39px;
	margin-bottom: 6px;
}
.form-line {
  width: 100%;
	border-top:1px solid #E1E1E1;
	margin-top: 6px;
	margin-bottom: 29px;
}
form {
  margin-bottom: 27px;
}
.error-mess-box {
  width: 100%;
	padding-left: 15px;
}
.error-list {
  
}
.field {
  margin-bottom: 20px;
}
.user-label {
  width: 102px;
	height: 15px;
	float:left;
	text-align:right;
	padding-top: 7px;
}
.user-input {
  height: 25px;
	margin-left: 3px;
}
.user-radio {
  width: 244px;
	height: 16px;
	margin-left: 110px;
	padding-top: 7px;
}
.user-submit {
  width: 59px;
	height: 28px;
	margin-left: 298px;
}
